//Font-family//

$font1: 'Pacifico', cursive;
$font2: 'Nunito', sans-serif;
$font3: 'Kite One', sans-serif;


//Colors//

$red: #Bc2f36; //red color
$darkred: darken( $red, 13%); //light red
$color3: #04819e; // blue color
$purple: #9e3f89;
$purple2: lighten($purple, 13%);
$black: #272727;
$black2: #202020;
$blue: #015c65; 
$blue2: lighten($blue, 13%);